<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>ReadList</title>
  </head>
  <body>
    <% if(message != ""){ %>
    <section class="message message-<%= type %>">
      <p><%= message %></p>
      <span id="close-message"
        ><i class="bi-x-square" onclick="closePop()"></i
      ></span>
    </section>
    <% } %>
    <header>
      <img class="img-left" src="/Frames.png" />
      <img class="img-center" src="/CentralFrame.png" />
      <img src="/Frames.png" alt="" class="img-right" />
      <% if(task == null){ %>

      <div class="logo">
        <p class="title">Read</p>
        <p class="title">Book</p>
        <p class="title">Goal</p>
        <span id="list">list</span>
      </div>

      <form action="/create" method="post">
        <input
          type="text"
          name="task"
          id="task"
          placeholder="Insira o livro que deseja ler"
        />
        <button type="submit" id="addButton">Adicionar</button>
      </form>
      <% } else{ %>
      <div class="logo">
        <p class="editTitle">Edit</p>
        <span id="editList">list</span>
      </div>
      <form action="/updateOne/<%=task._id%>" method="post">
        <input type="text" name="task" id="task" value="<%=task.task %>" />
        <button type="submit" id="editButton">Atualizar</button>
      </form>

      <% } %>
    </header>

    <section id="tasks">
      <ul>
        <% tasksList.forEach((task)=>{ %>
        <li>
          <div id="group">
            <a href="/home"><%= task.task %></a>

            <div class="helper">
              <span
                >Criado em <%= task.date.toLocaleDateString('pt-br') %></span
              >
              <span
                id="progressView"
                onclick="openProgressModal('<%= task._id %>','<%=task.task%>', <%= task.progress%>, <%= task.currentPage%>, <%= task.totalPages %>)"
              >
                <progress
                  class="progressBar"
                  max="100"
                  value="<%= task.progress %>"
                >
                  ></progress
                ><span class="progressValue"><%= task.progress %>%</span></span
              >
            </div>
          </div>
          <div id="btnGroup">
            <a href="/getById/<%= task._id %>/update"
              ><i class="bi bi-pencil-square"></i
            ></a>
            <a href="/getById/<%= task._id %>/delete"
              ><i class="bi bi-trash"></i
            ></a>
          </div>
        </li>

        <% }) %>
      </ul>
    </section>

    <% if(taskDelete != null) {%>
    <section id="editScreen">
      <div id="editCard">
        <div id="head">
          <h2>Confirmação</h2>
          <a href="/home"><i class="bi bi-x-square"></i></a>
        </div>
        <hr />
        <p>Deseja apagar <b><%= taskDelete.task %></b> da sua lista?</p>
        <div class="btns">
          <a id="btnNot" href="/home">Não</a>
          <a id="btnYes" href="/deleteOne/<%= taskDelete._id %>">Sim</a>
        </div>
      </div>
    </section>
    <% } %>

    <!-- MODAL DE EDIÇÃO DO PROGRESSO -->

    <section id="editProgress">
      <div id="progressCard">
        <div id="progressHeader">
          <div>
            <p id="bookProgress"><strong>progress</strong></p>
            <p>de progresso em:</p>
          </div>
          <a href="/home"><i class="bi bi-x-square"></i></a>
        </div>
        <span>
          <h2 id="bookTitle">title</h2>
        </span>
        <hr />
        <form action="" method="post">
          <input
            type="number"
            value="0"
            min="1"
            name="currentPage"
            id="currentPage"
            placeholder="Página que você está Ex: 92"
          />
          <input
            type="number"
            value="0"
            min="1"
            name="totalPages"
            id="totalPages"
            placeholder="Quantidade de páginas do livro Ex: 386"
          />
          <button type="submit" id="progressBtn">
            <i class="bi bi-book-half"></i>
          </button>
        </form>
      </div>
    </section>

    <footer>
      <img class="img-bottom-left" src="/Frames.png" />
      <img class="img-bottom-right" src="/Frames.png" />
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
